/* General styles remain the same */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f5ffe8;
  }
  
  /* Navigation styles */
  nav {
    background-color: #d6f8a4;
    padding: 20px 20px;
  }
  
  nav a {
    margin: 0 30px;
    text-decoration: none;
    color: #584343;
    margin-right: 50px;
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Title and layout styles */
  .title {
    text-align: center;
    margin: 30px 0;
    font-size: 50px;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-8 {
    flex: 8;
  }
  
  .content {
    margin: 40px 60px;
  }
  
  /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
  }
  
  table th, table td {
    padding: 12px 15px; /* Add padding to create space between text and cell borders */
    text-align: left;
    border-bottom: 1px solid #ddd; /* Border between rows */
  }
  
  table th {
    background-color: #f0f0f0;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
  }
  
  table tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternating row color */
  }
  
  table tr:hover {
    background-color: #e0f7d4; /* Highlight row on hover */
  }
  
  table td button {
    padding: 5px 10px;
    border: none;
    background-color: #5ca9fb;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  table td button:hover {
    background-color: #3a8cdb;
  }
  
  /* Button styles */
  .centered-link {
    text-align: right;
    margin: 10px 0;
  }
  
  .centered-link button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #095739;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .centered-link button:hover {
    background-color: #084c30;
  }
  
  footer {
    padding: 20px 60px;
    background-color: #efefef;
  }
  